<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img id="mapholder" src="" width="500" height="250">
        <!-- <span class="card-title">Card Title</span> -->
      </div>
      <div class="card-content">
        <ul>
          <li>Checkin ID: <%= @checkin.id %></li>
          <li>Created on: <%= checkins_humanize_date(@checkin.created_at) %></li>
          <li>Latitude: <%=  @checkin.get_data.lat %></li>
          <li>Longitude <%= @checkin.get_data.lng %></li>
          <li>Address: <%= @checkin.get_data.address %></li>
          <li>Fogging status: <%= checkins_fogged_icon(@checkin.fogged) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var img_url = '<%= checkins_static_map_url %>';
  $('#mapholder').attr("src", img_url);
</script>
