<div id='gonvariables'><%= Gon::Base.render_data %></div>
<h1><%= @friend_show_presenter.friend_name %>'s devices</h1>
<section class="friends-device-index row">
  <div class="col s12">
    <div id="map-wrapper" style="position: relative;">
      <p id="map-status"></p>
      <div id="map-overlay" class="valign-wrapper z-depth-1 hide">
        <div>
          <h5 style="text-align: center;">Nothing here yet</h5>
          <p>Your friend has not shared any devices or checkins yet!</p>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>
</section>
<% @devices.each do |device| %>
    <div class="card-panel row">
      <%= link_to show_device_user_friend_path(current_user.url_id, @friend_show_presenter.friend, device_id: device.id), class:"col s12" do %>
        <h5 class="valign-wrapper"><i class="material-icons medium"><%=device.icon%></i>&nbsp;<%= device.name %></h5>
        <%= friends_device_last_checkin(device.safe_checkin_info_for(permissible: current_user, action: 'last')[0]) %>
      <% end %>
    </div>
<% end %>
<div class="center"><%= will_paginate @devices %><div>

<script type="x-tmpl-mustache" id="markerPopupTmpl">
  <h3>Device: {{ &devicebutton }}</h3>
  <ul>
    <li class="address">Address: {{ address }}</li>
  </ul>
</script>
