<div id='gonvariables'><%= Gon::Base.render_data %></div>
<h1><%=name_or_email_name(@friend)%>'s devices</h1>
<section class="friends-device-index row">
  <div class="col s12">
    <div id="map-wrapper" style="position: relative;">
      <p id="map-status"></p>
      <div id="map-overlay" class="valign-wrapper z-depth-1 hide">
        <div>
          <h5 style="text-align: center;">Nothing here yet</h5>
          <p>Your friend has not shared any devices or checkins yet!</p>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>
</section>
<% @devices.each do |device| %>
    <div class="card row">
      <%= link_to show_device_user_friend_path(current_user.url_id, @friend, device_id: device.id), class:"col s12" do %>
        <h5><%= device.name %></h5>
        <%= friends_last_checkin(@friend.get_checkins(current_user, device)) %>
      <% end %>
    </div>
<% end %>

<script type="x-tmpl-mustache" id="markerPopupTmpl">
  <h3>Device: {{ &devicebutton }}</h3>
  <ul>
    <li class="address">Address: {{ address }}</li>
  </ul>
</script>
