<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img id="mapholder" src="" width="500" height="250">
        <!-- <span class="card-title">Card Title</span> -->
      </div>
      <div class="card-content">
        <ul>
          <li>Checkin ID: <%= @checkin.id %></li>
          <li>Created on: <%= humanize_date(@checkin.created_at) %></li>
          <li>Latitude: <%=  @fogged[:lat] %></li>
          <li>Longitude <%= @fogged[:lng] %></li>
          <li>Address: <%= @fogged[:address] %></li>
          <li>Fogging status: <%= fogged_icon(@checkin.fogged) %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var img_url = '<%= checkins_static_map_url(@checkin) %>';
  $('#mapholder').attr("src", img_url);
</script>
