<% content_for :outside_container do %>
  <%= render 'users/shared/device_show' %>

  <ul id='filters' class='date-select collapsible'>
    <li>
      <div class='collapsible-header'>Select a date range</div>
      <div class='collapsible-body'>
        <div class='date-filter-presets'>
          <%= link_to("Last week", show_device_user_friend_path(current_user.url_id, @presenter.friend, device_id: @presenter.device, from: 1.week.ago, to: Date.today), { method: :get })%>
          <%= link_to("Last month", show_device_user_friend_path(current_user.url_id, @presenter.friend, device_id: @presenter.device, from: 1.month.ago, to: Date.today), { method: :get })%>
          <%= link_to("Last year", show_device_user_friend_path(current_user.url_id, @presenter.friend, device_id: @presenter.device, from: 1.year.ago, to: Date.today), { method: :get })%>
        </div>
        <%= form_for @presenter.friend, data: { device_id: @presenter.device }, url: show_device_user_friend_path(current_user.url_id, @presenter.friend), class: "form-group", method: :get do |f| %>
          <%= f.label 'From' %>
          <%= text_field_tag(:from, nil, class: "datepick", id: "input_from", required: true) %>
          <%= f.label 'to' %>
          <%= text_field_tag(:to, nil, class: "datepick", id: "input_to", required: true) %>
          <%= f.submit("Filter", class: "form-control btn btn-default") %>
          <%= link_to("Reset", show_device_user_friend_path(current_user.url_id, @presenter.friend, device_id: @presenter.device), { method: :get, class: "btn-flat" })%>
          <%= hidden_field_tag(:device_id, @presenter.device.id ) %>
        <% end %>

      </div>
    </li>
  </ul>

  <script type="x-tmpl-mustache" id="markerPopupTmpl">
    <h3>ID: {{ id }}</h3>
    <ul>
      <li id="localTime">Created on: {{ created_at }}</li>
      <h3 class="lined"><span class="lined-pad">Coordinates</span></h3>
      <li class="ta-center">{{ lat }}, {{ lng }}</li>
      <h3 class="lined"><span class="lined-pad">Address</span></h3>
      <li class="address">{{ address }}</li>
    </ul>
  </script>
<% end %>
