<div class="row">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
    <div class="card col s12 m10 offset-m1">
      <div class="card-content">
        <legend class="card-title">Edit account</legend>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :email, class: 'active' %>
          <%= f.email_field :email, autofocus: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :username, class: 'active' %>
          <%= f.text_field :username, autofocus: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.attachinary_file_field :avatar %>
          </div>
        </div>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :password, "New password (leave blank if you don't want to change it)" %>
          <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :password_confirmation, "Confirm new password" %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :current_password, "Current password (we need your current password to confirm your changes)" %>
          <%= f.password_field :current_password, autocomplete: "off" %>
          </div>
        </div>
        <%= f.button "Update", class: "btn waves-effect waves-light" %>
      </div>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :delete }) do |f| %>
    <div class="card col s12 m10 offset-m1">
      <div class="card-content">
        <legend class="card-title">Cancel my account</legend>
        <div class="row">
          <div class="input-field col s12">
          <%= f.label :password, "Current Password" %>
          <%= f.password_field :password, autocomplete: "off" %>
          </div>
        </div>
        <%= f.button "Cancel my account", class: "btn red white-text", data: { confirm: "Are you sure?" }%>
      </div>
    </div>
  <% end %>
</div>
