<div class="row">
  <section class="section col s12 m6 offset-m3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- <%= devise_error_messages! %> -->
    <% flash[:notice] = resource.errors.full_messages.join(". ").concat(".") unless resource.errors.empty? %>
    <fieldset class="card">
      <div class="card-content">
        <legend class="card-title"><%= resource.class %> sign up</legend>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email, "Your email*" %>
            <%= f.email_field :email, id: "register_#{resource.class.to_s.downcase}_email", autofocus: true %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <% password_label = "Your password*" %>
            <% if @minimum_password_length %>
            <% password_label.chop! %>
             <% password_label.concat(" (#{@minimum_password_length} characters minimum)*") %>
            <% end %>
            <%= f.label :password, password_label %>
            <%= f.password_field :password, autocomplete: "off", id: "register_#{resource.class.to_s.downcase}_password" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password_confirmation, "Password confirmation*" %>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: "register_#{resource.class.to_s.downcase}_password_confirmation" %>
          </div>
        </div>
        <% if resource.respond_to? :company_name %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :company_name, "Company name*" %>
              <%= f.text_field :company_name, id: "register_#{resource.class.to_s.downcase}_company_name" %>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :tagline, "Company tagline" %>
              <%= f.text_field :tagline, id: "register_#{resource.class.to_s.downcase}_tagline" %>
            </div>
          </div>
            <%= f.attachinary_file_field :avatar %>
        <% end %>
        <% if resource.respond_to? :username %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :username, "Optional username" %>
              <%= f.text_field :username, id: "register_#{resource.class.to_s.downcase}_username" %>
            </div>
          </div>
        <% end %>
        <% if resource.respond_to? :redirect_url %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :redirect_url,"Redirect url*", class: "active" %>
              <%= f.text_field :redirect_url, placeholder: "Your Site URL", id: "register_#{resource.class.to_s.downcase}_redirect_url" %>
            </div>
          </div>
        <% end %>
        <%= f.button "Sign up", class: "waves-effect waves-light btn" %></div>
    </fieldset>
    <% end %>
    <div class="row">
      <div class="col s12">
        Already registered as a <%= "#{resource.class.to_s.downcase}" %>? <%= link_to "Log in!", new_session_path(resource_name) %>
      </div>
    </div>
  </section>
</div>
<script>

  $.validator.methods.email = function( value, element ) {
    return this.optional( element ) || /^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/.test( value );
  }

  $("#new_<%= resource_name %>").validate({
    onkeyup: false,
    rules: {
      '<%= resource_name %>[email]': {
        required: true,
      },
      '<%= resource_name %>[password]': {
        required: true,
        minlength: 8
      },
      '<%= resource_name %>[password_confirmation]': {
        required: true,
        equalTo: '#register_<%= raw resource.class.to_s.downcase %>_password'
      }
      <% if resource.respond_to? :company_name %>
      ,
      '<%= resource_name %>[company_name]': {
        required: true
      }
      <% end %>
      <% if resource.respond_to? :redirect_url %>
      ,
        '<%= resource_name %>[redirect_url]': {
          required: true,
          url: true
        }
      <% end %>
    },
    errorElement: 'div',
    errorPlacement: function(error, element) {
      var placement = $(element).data('error');
      if (placement) {
        $(placement).append(error)
      } else {
        error.insertAfter(element);
      }
    },
    errorClass: "invalid",
    validClass: "valid"
  });
</script>
<%= render "devise/shared/links" %>
