<div class="row">
  <section class="section col s12 m6 offset-m3">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <!-- <%= devise_error_messages! %> -->
    <% flash[:notice] = resource.errors.full_messages.join(". ").concat(".") unless resource.errors.empty? %>
    <fieldset class="card">
      <div class="card-content">
        <legend class="card-title"><%= resource.class %> sign up</legend>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email, "Your email" %>
            <%= f.email_field :email, id: "register_#{resource.class.to_s.downcase}_email", autofocus: true, class: "validate" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <% password_label = "Your password" %>
            <% if @minimum_password_length %>
             <% password_label.concat(" (#{@minimum_password_length} characters minimum)") %>
            <% end %>
            <%= f.label :password, password_label %>
            <%= f.password_field :password, autocomplete: "off", id: "register_#{resource.class.to_s.downcase}_password" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "off", id: "register_#{resource.class.to_s.downcase}_password_confirmation" %>
          </div>
        </div>
        <% if resource.respond_to? :company_name %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :company_name %>
              <%= f.text_field :company_name, id: "register_#{resource.class.to_s.downcase}_company_name" %>
            </div>
          </div>
            <div class="file-field input-field">
              <div class="btn">
                <span>Logo</span>
                <%= f.file_field :logo, id: "register_#{resource.class.to_s.downcase}_logo" %>
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text" placeholder="&lt; 1mb, square format, jpeg/png">
              </div>
            </div>
        <% end %>
        <% if resource.respond_to? :username %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :username, "Optional username" %>
              <%= f.text_field :username, id: "register_#{resource.class.to_s.downcase}_username" %>
            </div>
          </div>
        <% end %>
        <% if resource.respond_to? :redirect_url %>
          <div class="row">
            <div class="input-field col s12">
              <%= f.label :redirect_url, class: "active" %>
              <%= f.text_field :redirect_url, placeholder: "Your Site URL", id: "register_#{resource.class.to_s.downcase}_redirect_url" %>
            </div>
          </div>
        <% end %>
        <%= f.button "Sign up", class: "waves-effect waves-light btn" %></div>
    </fieldset>
    <% end %>
    <div class="row">
      <div class="col s12">
        <%= link_to "Already registered as a #{resource.class.to_s.downcase}? Log in!", new_session_path(resource_name) %>
      </div>
    </div>
  </section>
</div>
<%= render "devise/shared/links" %>
