<h1>Developer console</h1><br>
<br>
<p>
  Your <%= current_developer.company_name %> API key is <code><%= current_developer.api_key %></code>
  <br>
  You've made <span id="requests-today"><%= @requests_today %></span> requests in the last day.
  <br>
  You've made <span id="unpaid"><%= @unpaid %></span> requests since you last paid.
</p>

<p>
  <%= link_to('Pay now', pay_developers_requests_path, class: 'btn waves-effect waves-light', method: 'put', remote: true) %>
  <%= link_to('Refresh', developers_console_path, class: 'btn waves-effect waves-light', remote: true) %>
</p>

<hr>

<p>
  Take a look at your
  <%= link_to('approvals', developers_approvals_path, class: 'waves-effect waves-light') %>
</p>

<hr>
<%= link_to('Edit your profile', edit_developer_path(current_developer.id), class: 'btn waves-effect waves-light') %>
<%= link_to('Sign out', destroy_developer_session_path, method: :delete, class: 'btn') %>
