<h1>Developer console</h1><br>
<%= image_tag current_developer.logo.url(:medium) %>
<br>
<p>
  Your <%= current_developer.company_name %> API key is <code><%= current_developer.api_key %></code>
  <br>
  You've made <%= current_developer.requests.recent(1.day.ago).count %> requests in the last day.
</p>
<p>
  Take a look at your <br>
  <%= link_to("approvals", developers_approvals_path, class: "btn btn-default") %> 
</p>
<hr>
<br>
<img src="http://imgs.xkcd.com/comics/compiling.png"/>
<br>
<%= link_to("Sign out", destroy_developer_session_path, method: :delete, class: "btn btn-warning m-m") %>