<h1>Requests</h1>
<table>
  <thead>
    <tr>
      <td>paid</td>
      <td>Action</td>
      <td>Controller</td>
      <td>Created at</td>
    </tr>
  </thead>
  <tbody>
  <% @requests.each do |request| %>
    <tr>
      <td><%= request.paid %></td>
      <td><%= request.action %></td>
      <td><%= request.controller %></td>
      <td><%= humanize_date_and_time request.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="center-align">
<%= will_paginate @requests %>
<div>
