<h1>Edit release note</h1>
<%= form_for @release_note, url: { action: "update" }, html: { class: "form-group" } do |f| %>
  <%= label(:version, "Version number", class: "control-label") %>
  <%= f.text_field(:version, class: "form-control input-lg fifth-width") %>
  </br>
  <%= label(:application, "Application", class: "control-label") %>
  <%= f.select(:application, options_for_select([['Web', 'web'], ['API', 'api'], ['Mobile', 'mobile']], selected: @release_note.application)) %>
  </br>
  <%= label :content, "Changes", class: "control-label" %>
  <%= f.text_area(:content, class: "form-control input-lg fifth-width materialize-textarea") %>
  </br></br>
  <%= f.submit("Update", class: "form-control btn btn-default", id: "add_button") %>
<% end %>
