<h1>Release notes</h1>

<div class="row">
  <div class="center">
    <%= link_to(new_release_note_path, class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
    <% end %>
  </div>
</div>

<% @release_notes.each do |note| %>  
  <h2><%= note.version %></h2>
  <a href="#" class="badge"><%= note.application %></button>
  <label><%= note.created_at %></label>
  <p><%= note.content %></p>
  <% if current_user && current_user.admin? %>
    <%= link_to edit_release_note_path(note.id), class: 'btn' do %>
      <i class="material-icons right">mode_edit</i>Edit
    <% end %>
    <%= link_to edit_release_note_path(note.id), class: 'btn red white-text' do %>
      <i class="material-icons white-text right">delete_forever</i>Delete
    <% end %>
  <% end %>
<% end %>

<div class="center-align">
  <%= will_paginate @release_notes %>
<div>
