<h1>New release note</h1>
<%= form_for @release_note, url: {action: "create"}, html: {class: "form-group"} do |f| %>
  <%= label(:version, "Version number", class: "control-label") %>
  <%= f.text_field(:version, class: "form-control input-lg fifth-width", placeholder: "v1.0.0") %>
  </br>
  <%= label(:application, "Application", class: "control-label") %>
  <%= f.select(:application, options_for_select([['Web', 'web'], ['API', 'api'], ['Mobile', 'mobile']])) %>
  </br>
  <%= label :content, "Changes", class: "control-label" %>
  <%= f.text_area(:content, class: "form-control input-lg fifth-width materialize-textarea", placeholder: "- List \n- Notes \n- Like this") %>
  <%= label :created_at, "Date", class: "control-label" %>
  <%= f.date_field(:created_at, class: "release-datepicker") %>
  </br></br>
  <%= f.submit("Add", class: "form-control btn btn-default", id: "add_button") %>
<% end %>

<script>
  $('.release-datepicker').pickadate({
    selectMonths: true,
    selectYears: 2
  });
</script>
