<div id="approved">
  <% if current_user.pending_friends.present? %>
    You have sent <%= pluralize(current_user.pending_friends.count, 'friend request') %> to <%= approvals_pending_friends(current_user) %>.
  <% end %>

  <% approved.each do |approvable| %>

    <div class="card-panel">
      <div class="row">

        <div class="col s8">
          <%= approvals_friends_device_link(@approvable_type, approvable) do %>
            <%= avatar_for(approvable) %>
            <div class="ib">
              <h5 class="ib"><%= approvals_approvable_name(approvable) %></h5><span class="tagline"><%= approvable.try(:tagline) %></span>
              <div>Approved since <%= humanize_date(current_user.approval_for(approvable).approval_date) %></div>
            </div>
          <% end %>
        </div>

        <div class="col s4">
          <a class="waves-effect waves-light btn-flat modal-trigger right" href="#perm<%=approvable.id%>"><i class="material-icons right">lock</i>Permissions</a>
          <div id="perm<%=approvable.id%>" class="modal">
            <div class="modal-content">
              <h4 class="modal-content">Permissions controls for <%=approvals_approvable_name(approvable)%></h4>
              <ul class="permissions collection" data-friend=<%=approvable.id%>>
                <li class="collection-item row valign-wrapper  master-permissions">
                  <div class='valign col s7'>
                    <h5>Master permissions</h5>
                  </div>
                  <%= render partial: "users/permissions/controls", object: approvable, as: 'permissionable' %>
                </li>
                <% devices.each do |device| %>
                  <% permission =  device.permission_for(approvable) %>
                  <li class="collection-item row valign-wrapper">
                    <h5 class="valign col s5"><%= device.name %></h5>
                    <div class='col s2'>
                      <span id='fogIcon<%=permission.id%>' class='fogIcon<%=device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(approvable)%> can only see fogged data for this device">
                        <%= fogged_icon(device.fogged) if device.fogged %>
                      </span>
                      <span id='delayIcon<%=permission.id%>' class='delayIcon<%=device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(approvable)%> can only see your data after a delay for this device">
                        <%= devices_delay_icon(device.delayed) if device.delayed %>
                      </span>
                      <span id='accessIcon<%=permission.id%>' class='tooltipped' data-tooltip="<%=approvals_approvable_name(approvable)%> can't see any data from this device">
                        <%= devices_access_icon  %>
                      </span>
                    </div>
                    <%= render partial: "users/permissions/controls", object: permission, as: 'permissionable' %>
                  </li>
                <% end %>

              </ul>
            </div>
          </div>
        </div>

        <div class="col s4">
          <%= button_to "Revoke Approval", reject_user_approval_path(current_user.url_id, current_user.approval_for(approvable)), remote: true, class: "btn-flat right", data: { confirm: "Are you sure? They will no longer have access to any of your data." } %>
        </div>
      </div>

    </div>
  <% end %>
</div>
