<!-- Use single quotes (''), so that this can be user in a JS template -->
<div class='list-group'>
  <% @approved_devs.each do |dev| %>
      <div class='list-group-item'>
        <a href='<%= switch_all_privileges_user_devices_path(current_user.url_id, developer: dev) %>' data-method='post' data-remote='true'> 
          <h4 class='list-group-item-heading'><%= dev.company_name %></h4>
          <% if dev.tagline %>
            <p class='list-group-item-text'><%= dev.tagline %></p>
          <% end %>
        </a>
        <div class='row pt-m'>
          <div class='col-lg-12 list-group-item-text'>
            <% current_user.devices.each do |device|  %>
              <a href='<%= switch_privilege_user_device_path(current_user.url_id, device.id, developer: dev) %>' data-method='post' data-remote='true' class='white-link' >
                <div id='<%= "device#{device.id}developer#{dev.id}" %>' class='col-lg-3 dev-box small-curved-border small-height clearfix <%= "privilege-#{device.privilege_for(dev)}" %>'>
                  <%= device.name %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      </div>
  <% end %>
</div>
