<div id="approved">
  <% if current_user.pending_friends.present? %>
    You have sent <%= pluralize(current_user.pending_friends.count, 'friend request') %> to <%= approvals_pending_friends(current_user) %>.
  <% end %>

  <% approved.each do |approvable| %>

    <div class="card-panel">
      <div class="row">

        <a href="<%= user_friend_path(current_user.url_id, approvable) %>" class="black-text col s8">
          <%= avatar_for(approvable, { size: '60x60', crop: :thumb, gravity: :face, radius: :max, class: 'avatar' }) %>
          <div class="ib">
            <h5 class="ib"><%= approvable_name(approvable) %></h5><span class="tagline"><%= tagline_text(approvable) %></span>
            <div>Approved since <%= humanize_date(current_user.approval_for(approvable).approval_date) %></div>
          </div>
        </a>

        <div class="col s4">
          <a class="waves-effect waves-light btn-flat modal-trigger right" href="#perm<%=approvable.id%>"><i class="material-icons right">lock</i>Permissions</a>
          <div id="perm<%=approvable.id%>" class="modal">
            <div class="modal-content">
              <h4 class="modal-content">Permissions Controls</h4>
              <ul class="permissions collection" data-friend=<%=approvable.id%>>

                <% devices.each do |device| %>
                  <% permission =  device.permission_for(approvable) %>
                  <li class="collection-item row valign-wrapper">
                    <h5 class="valign col s8"><%= device.name %></h5>
                    <%= render partial: "users/permissions/controls", object: permission, as: 'permission' %>
                  </li>
                <% end %>

              </ul>
            </div>
          </div>
        </div>

        <div class="col s4">
          <%= button_to "Revoke Approval", reject_user_approval_path(current_user.url_id, current_user.approval_for(approvable)), remote: true, class: "btn-flat right", data: { confirm: "Are you sure? They will no longer have access to any of your data." } %>
        </div>
      </div>

    </div>
  <% end %>
</div>
