<div id="friends">
  <% if current_user.pending_friends.present? %>
    You have sent <%= pluralize(current_user.pending_friends.count, 'friend request') %>.
  <% end %>

  <% friends.each do |friend| %>
    <div class="card-panel">
      <div class="row valign-wrapper">
        <a href="<%= user_friend_path(current_user.url_id, friend) %>" class="black-text col s8 valign">
          <%= avatar_for(friend, { size: '60x60', crop: :thumb, gravity: :face, radius: :max }) %>
          <div class="ib">
            <h5><%= friends_name(friend) %></h5>
            Friends since <%= humanize_date(current_user.approval_for(friend).approval_date) %>
          </div>
        </a>
        <div class="col s4 right-align valign">
          <%= button_to "Revoke Approval", reject_user_approval_path(current_user.url_id, current_user.approval_for(friend)), remote: true, class: "btn-flat", data: { confirm: "Are you sure? This user will no longer have access to any of your data." } %>
        </div>
      </div>
    </div>
  <% end %>
</div>
