<% if current_user.pending_friends.present? %>
  You have sent <%= pluralize(current_user.pending_friends.count, 'friend request') %>.
<% end %>

<% @friends.each do |friend| %>
  <div class="card row valign-wrapper">
    <div class="col s8 valign ">
    <a id="<%= friend.email %>" href="<%= user_friend_path(current_user.url_id, friend) %>">
      <h5><%= friend.email %></h5>
    </a>
    </div>
    <div class="col s4 valign right-align">
    <%= button_to "Revoke Approval", reject_user_approval_path(current_user.url_id, Approval.where(user: current_user, approvable: friend, approvable_type: "User").first.id), remote: true, class: "btn-flat", data: { confirm: "Are you sure? This user will no longer have access to any of your data." } %>
    </div>
  </div>
<% end %>
