<div id="pending">
  <h5>Pending Requests</h5>
  <div class='collection'>
    <% pending.each do |approvable| %>
      <% approval = current_user.approval_for(approvable) %>
      <div id='<%= "app_#{approval.id}" %>' class='collection-item row valign-wrapper'>
        <div class="col s8 valign-wrapper">
          <%= avatar_for(approvable) %>
          <div class="valign">
            <h5 class="ib"><%= approvals_approvable_name(approvable) %></h5>
            <div><%= approvable.try(:tagline)%></div>
          </div>
        </div>
        <div class="col s4 valign right-align">
          <%= button_to "Approve", user_approval_path(current_user.url_id, approval.id), method: :put, remote: true, class: "waves-effect waves-orange btn-flat" %>
          <%= button_to "Reject", user_approval_path(current_user.url_id, approval.id), method: :delete, remote: true, class: "waves-effect waves-orange btn-flat" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

