<% if @pending_approvals %>
<div class='collection'>
  <% @pending_approvals.each do |app| %>
    <div id='<%= "app_#{app.id}" %>' class='collection-item avatar row'>
      <div class='col s8'>
        <%= image_tag(Developer.find(app.approvable_id).logo.url(:thumb), alt: "", class: "circle icon") %>
        <h5><%= Developer.find(app.approvable_id).company_name %></h5>
        <% if Developer.find(app.approvable_id).tagline %>
          <p><%= Developer.find(app.approvable_id).tagline %></p>
        <% end %>
      </div>
      <div class='col s4'>
        <%= button_to "Approve", approve_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
        <%= button_to "Reject", reject_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
      </div>
    </div>
  <% end %>
</div>
<% end %>
