<div id="pendingApprovals">
  <h5>Requests</h5>
  <div class='collection'>
    <% pending.each do |dev| %>
      <% approval = current_user.approval_for(dev) %>
      <div id='<%= "app_#{approval.id}" %>' class='collection-item avatar row valign-wrapper'>
        <div class='col s8 valign'>
          <%= avatar_for(dev, { size: '60x60', crop: :thumb, gravity: :face, radius: :max }) %>
          <h5><%= dev.company_name %></h5>
          <% if dev.tagline %>
            <p><%= dev.tagline %></p>
          <% end %>
        </div>
        <div class='col s4 valign right-align'>
          <%= button_to "Approve", approve_user_approval_path(current_user.url_id, approval.id), remote: true, class: "btn" %>
          <%= button_to "Reject", reject_user_approval_path(current_user.url_id, approval.id), remote: true, class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
