<div id="pendingApprovals">
  <h5>Requests</h5>
  <div class='collection'>
    <% pending.each do |dev| %>
      <% app = dev.approvals.find_by(user_id: current_user.id) %>
      <div id='<%= "app_#{app.id}" %>' class='collection-item avatar row valign-wrapper'>
        <div class='col s8 valign'>
          <%= image_tag(dev.logo.url(:thumb), alt: "", class: "circle icon") %>
          <h5><%= dev.company_name %></h5>
          <% if dev.tagline %>
            <p><%= dev.tagline %></p>
          <% end %>
        </div>
        <div class='col s4 valign right-align'>
          <%= button_to "Approve", approve_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
          <%= button_to "Reject", reject_user_approval_path(current_user.url_id, app.id), remote: true, class: "btn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
