<%= Gon::Base.render_data %>
<h1><%= action_name.titleize %></h1>
  <%= render partial: "approved", locals: {approved: @approved, devices: @devices} %>
  <%= render partial: "pending", locals: {pending: @pending} if @pending.present? %>
<div class='center-align'>
<%= link_to("Add #{action_name.singularize}", new_user_approval_path(approvable_type: @approval_type), class: "btn waves-effect waves-light") %>
</div>

<script>
  $('.modal-trigger').leanModal();
  COPO.permissions.check_disabled();
  COPO.permissions.switch_change();
</script>
