<div id="gonvariables">
  <%= Gon::Base.render_data %>
</div>
<h1><%= action_name.titleize %></h1>
<div class='center-align'>
  <%= link_to(new_user_approval_path(approvable_type: @presenter.approvable_type), class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
  <% end %>
</div>
</br>
<%= render partial: "approved", locals: {approved: @presenter.approved, devices: @presenter.devices, approvable_type: @presenter.approvable_type} %>
<%= render partial: "pending", locals: {pending: @presenter.pending} if @presenter.pending.present? %>

<script>
  $('.modal-trigger').leanModal({
    ready: function() {
      var $list = $(this.ready.caller.arguments[0][0]).find('ul');
      if($list.children().length===1) {
        var device_id = $list.data().friend;
        if(window.location.pathname.match('apps')){
          var originator = { from: 'apps' }
        } else {
          var originator = { from: 'friends' }
        }
        $list.append(`<div class="progress"><div class="indeterminate"></div></div>`);
        $.get({
          url: "devices/"+device_id+"/permissions",
          data: originator,
          dataType: "script"
        });
      }
    }
  });
</script>
