<div id="gonvariables">
  <%= Gon::Base.render_data %>
</div>
<h1><%= action_name.titleize %></h1>
<div class='center-align'>
  <%= link_to(new_user_approval_path(approvable_type: @presenter.approvable_type), class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
  <% end %>
</div>
<section class="friends-index row hide">
  <div class="col s12">
    <div id="map-wrapper" style="position: relative;">
      <p id="map-status"></p>
      <div id="map-overlay" class="valign-wrapper z-depth-1 hide">
        <div>
          <h5 style="text-align: center;">Nothing here yet</h5>
          <p>Your friends have not shared any devices or checkins yet!</p>
        </div>
      </div>
      <div id="map"></div>
    </div>
  </div>
</section>
</br>
<%= render partial: "approved", locals: {approved: @presenter.approved, devices: @presenter.devices, approvable_type: @presenter.approvable_type} %>
<%= render partial: "pending", locals: {pending: @presenter.pending} if @presenter.pending.present? %>
