<%= Gon::Base.render_data %>
<h1><%= action_name.titleize %></h1>
<div class='center-align'>
  <%= link_to(new_user_approval_path(approvable_type: @presenter.approvable_type), class: "btn-floating btn-large waves-effect waves-light primary-color") do %>
      <i class="material-icons">add</i>
  <% end %>
</div>
</br>
<%= render partial: "approved", locals: {approved: @presenter.approved, devices: @presenter.devices, approvable_type: @presenter.approvable_type} %>
<%= render partial: "pending", locals: {pending: @presenter.pending} if @presenter.pending.present? %>

<script>
  $('.modal-trigger').leanModal();
  COPO.permissions.set_masters('approved');
  COPO.permissions.master_change('approved');
  COPO.permissions.switch_change('approved');
  COPO.permissions.check_disabled();
  COPO.permissions.check_bypass();
</script>
