<h1>Approvals</h1>
<%= render partial: "pending_approvals" %>
<%= link_to("New Approval", new_user_approval_path, class: "btn waves-effect waves-light") %>
<h3 class="m-m">Approved apps</h3>
<div id="approvedDevelopers" class="animated">
  <%= render partial: "approved_developers" %>
</div>
<h3 class="m-m">Friends</h3>
<%= render partial: "friends" %>
<%= render partial: "friend_requests" %>

