<br>
Enter the <%= @approval.approvable_type %> you would like to add.
<br>
<%= form_for @approval, url: user_approvals_path do |f| %>
  <div class="row">
    <div class="col s12 input-field search">
      <%= f.text_field :approvable, approvals_input(@approval.approvable_type) %>
    </div>
  </div>
  <%= f.hidden_field :approvable_type, value: @approval.approvable_type %>
  <%= f.button "Request", class: "waves-effect waves-light btn", type: "submit" %>
<% end %>

<script>
  var substringMatcher = function(strs) {
    return function findMatches(q, cb) {
      var matches, substringRegex;

      // an array that will be populated with substring matches
      matches = [];

      // regex used to determine if a string contains the substring `q`
      substrRegex = new RegExp(q, 'i');

      // iterate through the pool of strings and for any string that
      // contains the substring `q`, add it to the `matches` array
      $.each(strs, function(i, str) {
        if (substrRegex.test(str)) {
          matches.push(str);
        }
      });

      cb(matches);
    };
  };

  var devs = <%= raw @developers.to_json %>;
  var users = <%= raw @users.to_json %>;

  $('.search .devs_typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'devs',
    source: substringMatcher(devs)
  });

  $('.search .users_typeahead').typeahead({
    hint: true,
    highlight: true,
    minLength: 1
  },
  {
    name: 'users',
    source: substringMatcher(users)
  });
</script>
