<h1>Dashboard</h1>
<%= current_user.username %>, you have <%= current_user.devices.count %> devices and <%= current_user.approved_developers.count %> approved developers
<hr>
<%= link_to("Devices", user_devices_path, class: "btn btn-primary m-m") %>
<%= link_to("Approvals", user_approvals_path, class: "btn btn-primary m-m") %>