<div id='gonvariables'><%= Gon::Base.render_data %></div>
<section class="dashboard">
  <h4>Hello <%= current_user.username %></h4>
</section>

<section class="dashboard row">
  <div class="col s12">
    <div id="map-wrapper" style="position: relative;">
      <p id="map-status"></p>
      <div id="map-overlay" class="valign-wrapper z-depth-1 hide">
        <div>
          <h5 style="text-align: center;">Nothing here yet</h5>
          <p>Here you will be shown your check-ins this month and your friend's last check-ins on a map. But you don't have any at the moment!</p>
          <p>To add a check-in, go to the <%= link_to('devices', user_devices_path) %> page and select/create a device.</p>
          <p>To add a friend, go to your <%= link_to('friends', user_friends_path) %> page and send them an invite.</p>
        </div>
      </div>
      <div id="map"></div>
    </div>

  </div>
</section>

<div class="divider"></div>
<p>
  You checked in <%= @presenter.weeks_checkins_count || 0 %> times this week.
  <% if @presenter.most_used_device.present? %>
      Your most used device is <%= @presenter.most_used_device.name %>.
  <% end %>
</p>
<h5><%= dashboard_visited_countries_title(@presenter.last_countries.count) %></h5>
<table>
  <thead>
    <tr>
      <td></td><td>Country</td><td>Last Visited</td>
    </tr>
  </thead>
  <tbody>
  <% @presenter.last_countries.each do |country| %>
    <tr>
      <td><%= dashboard_flag(country[:country_code]) %></td><td ><%= dashboard_country_name(country[:country_code]) %></td><td><%= humanize_date(country[:last_visited]) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="divider"></div>

<section id="dashboard-quicklinks">
  <p>
    You have <%= pluralize(current_user.devices.count, 'device') %>, <%= pluralize(current_user.developers.count, 'app') %> and <%= pluralize(current_user.friends.count, 'friend') %>.
     You have <%= link_to(pluralize(current_user.developer_requests.count, 'app'), user_apps_path) %> and
    <%= link_to(pluralize(current_user.friend_requests.count, 'friend'), user_friends_path) %> awaiting your approval.
  </p>
</section>
