<h1>Dashboard</h1>
You have <%= pluralize(current_user.devices.count, 'device') %> and <%= pluralize(current_user.developers.count, 'approved developer') %>
<hr>
<%= link_to("Devices", user_devices_path, class: "btn") %>
<%= link_to("Applications", user_applications_path, class: "btn") %>
<%= link_to("Friends", user_friends_path, class: "btn") %>
</br></br>
<%= link_to("Edit Account", edit_user_registration_path, class: "btn") %>
