<h1>Dashboard</h1>
<%= current_user.username.titleize %>, you have <%= pluralize(current_user.devices.count, 'device') %> and <%= pluralize(current_user.approved_developers.count, 'approved developer') %>
<hr>
<%= link_to("Devices", user_devices_path, class: "btn btn-primary m-m") %>
<%= link_to("Approvals", user_approvals_path, class: "btn btn-primary m-m") %>