<%= Gon::Base.render_data %>
<section class="dashboard row">
  <h4>Hello <%= current_user.username %></h4>
  <p>
    You checked-in <%= @week_checkins_count || 0 %> times this week.
    <% if @percent_change.present? %>
      <br />
      That is an <%= @percent_change > 0 ? 'increase' : 'decrease' %> of <%= @percent_change %>% from last week.
    <% end %>
  </p>
   <% if @most_used_device.present? %>
    <p>
      Your most used device is <%= @most_used_device.name %>.
    </p>
  <% end %>

  <%= link_to(edit_user_registration_path, class: 'btn') do %>
    Edit your profile
  <% end %>
</section>

<div class="divider"></div>

<section id="dashboard-charts" class="dashboard row">
  <article class="chart col s12 l6" id='weeks-checkins'>
    <h5>This weeks check-ins</h5>
    <div id='bar-chart'></div>
  </article>
  <article class="col s12 l6" id="most-checkins">
    <ul class="collection">
      <li class="collection-header"><h5>Most frequent check-in location</h5></li>
      <% @most_frequent_areas.each do |area_count| %>
        <li class="collection-item"><div><%= area_count[0] %><span class="badge"><%= area_count[1] %> check-ins</span></div></li>
      <% end if @most_frequent_areas.present? %>
    </ul>
  </article>
</section>

<div class="divider"></div>

<section id="dashboard-quicklinks">
  <p class ='center'>
  You have <%= pluralize(current_user.devices.count, 'device') %>, <%= pluralize(current_user.developers.count, 'approved app') %> and <%= pluralize(current_user.friends.count, 'friend') %>
  </p>
</section>
