<section class="dashboard row">
  <h4>Hello <%= current_user.username %></h4>
  <p>
    You checked-in 10 times this week.
    <br />
    That is an increase of 50% from last week.
  </p>
  <p>
    Your most used device is devicename.
  </p>

  <%= link_to(edit_user_registration_path, class: 'btn') do %>
    Edit your profile
  <% end %>
</section>

<div class="divider"></div>

<section id="dashboard-charts" class="dashboard row">
  <article class="chart col s12 l6" id="daily-checkins">
    <h5>Daily check-ins</h5>
    <div></div>
    <a class="right" href="#">view all</a>
  </article>
  <article class="col s12 l6" id="most-checkins">
    <ul class="collection">
      <li class="collection-header"><h5>Most frequent check-in location</h5></li>
      <li class="collection-item"><div>Tower Bridge<span class="badge">10 check-ins</span></div></li>
      <li class="collection-item"><div>London Bridge<span class="badge">5 check-ins</span></div></li>
      <li class="collection-item"><div>Trafalgar Square<span class="badge">5 check-ins</span></div></li>
      <li class="collection-item"><div>Old Street<span class="badge">3 check-ins</span></div></li>
    </ul>
  </article>
</section>

<div class="divider"></div>

<section id="dashboard-quicklinks">
  <p class ='center'>
  You have <%= pluralize(current_user.devices.count, 'device') %>, <%= pluralize(current_user.developers.count, 'approved app') %> and <%= pluralize(current_user.friends.count, 'friend') %>
  </p>
</section>
