<div class="row">
  <section class="section col s12 m6 offset-m3">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <fieldset class="card">
      <div class="card-content">
        <legend class="card-title"><%= resource.class %> log in</legend>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :email, "Your email", class: "active" %>
            <%= f.email_field :email, autofocus: true, id: "login_#{resource.class.to_s.downcase}_email", class: "validate" %>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <%= f.label :password, "Your password" %>
            <%= f.password_field :password, autocomplete: "off", id: "login_#{resource.class.to_s.downcase}_password" %>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
            <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
              <%= link_to "Forgot your password?", new_password_path(resource_name), class: "right" %>
            <% end -%>
          </div>
        </div>
        <div class="row">
          <div class="col s12">
            <%= f.button "Log in", type: "submit", class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </fieldset>
    <% end %>
      <div class="row">
        <div class="col s12">
          Not yet a <%= "#{resource.class.to_s.downcase}" %>? <%= link_to "Sign up!", new_registration_path(resource_name) %>
        </div>
      </div>
  </section>
</div>
<%= render "devise/shared/links" %>
