<tr id="checkin<%= checkin.id %>">
  <td>
    <%= checkins_humanize_date(checkin.created_at) %>
  </td>
  <td>
    <%= area_name(checkin) %>
  </td>
  <td>
    <%= link_to(fogged_icon(checkin.fogged), user_device_checkin_path(current_user.url_id,  @device.id, checkin.id), id: "fog#{checkin.id}", method: :put, remote: :true, class: "tooltipped", data: { tooltip: 'Fog this checkins location to the nearest city'}) %>
  </td>
  <td>
    <%= link_to user_device_checkin_path(current_user.url_id, @device.id, checkin.id), class: "waves-effect waves-orange btn-flat" do %>
      <i class="small material-icons">info_outline</i>
    <% end %>
  </td>
  <td>
    <%= link_to user_device_checkin_path(current_user.url_id,  @device.id, checkin.id), method: :delete, remote: :true, class: "waves-effect waves-red btn-flat" do %>
      <i class="small material-icons">delete</i>
    <% end %>
  </td>
</tr>

