<tr id="checkin<%= checkin.id %>">
  <td>
    <%= checkins_humanize_date(checkin.created_at) %>
  </td>
  <td>
    <%= area_name(checkin) %>
  </td>
  <td>
    <%= link_to(checkins_fogged_icon(checkin.fogged), user_device_checkin_path(current_user.url_id, checkin.device.id, checkin.id), id: "fog#{checkin.id}", method: :put, remote: :true) %>
  </td>
  <td>
    <a class="waves-effect waves-orange btn-fla modal-trigger" href="#info<%=checkin.id%>"><i class="small material-icons">info_outline</i></a>
    <div id="info<%=checkin.id%>" class="modal">
      <div class="modal-content">
        <%= render 'users/checkins/checkin', checkin: checkin %>
      </div>
    </div>
  </td>
  <td>
    <%= link_to user_device_checkin_path(current_user.url_id, checkin.device.id, checkin.id), method: :delete, remote: :true, class: "waves-effect waves-red btn-flat" do %>
      <i class="small material-icons">delete</i>
    <% end %>
  </td>
</tr>

