<table class="table table-striped table-hover">
  <tr>
    <th>
      Latitude
    </th>
    <th>
      Longitude
    </th>
    <th>
      Country Code
    </th>
    <th>
      Created At
    </th>
    <th>
      Delete
    </th>
  </tr>
  <% @checkins.each do |checkin| %>
    <tr id="checkin<%= checkin.id %>" class="animated">
      <td>
        <%= checkin.lat %>
      </td>
      <td>
        <%= checkin.lng %>
      </td>
      <td>
        <%= checkin.country_code %>
      </td>
      <td>
        <%= checkin.created_at %>
      </td>
      <td>
        <%= button_to "x", checkin_user_device_path(current_user.id, @device.id, checkin_id: checkin.id), method: :delete, remote: :true, class: "btn btn-danger" %>
      </td>
    </tr>  
  <% end %>
  <%= will_paginate @checkins %>
</table>