<div class="card row valign-wrapper">

  <div class="col s10">
    <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>">
      <h4><%= device.name %></h4>
      <%= devices_last_checkin(device) %>
    </a>
  </div>

  <div class="col s2">
  <%= link_to(fogged_icon(device.fogged), user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, data: { fogged: device.fogged? }  })%>
  <%= link_to(devices_delay_icon(device.delayed), user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, data: { delayed: device.delayed }  })%>
    <%= link_to(edit_user_device_path(current_user, device), class: 'valign-wrapper') do %>
      <i class='material-icons valign'>settings</i>Settings
    <% end %>
  </div>
</div>
