<div class="card row valign-wrapper">

  <div class="col s10">
    <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>">
      <h4><%= device.name %></h4>
      <%= devices_last_checkin(device) %>
    </a>
  </div>

  <div class="col s2">
    <%= link_to(fogged_icon(device.fogged), user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, data: { fogged: device.fogged? }  })%>
    <%= link_to(devices_delay_icon(device.delayed), user_device_path(current_user.url_id, device.id, mins: device.delayed.to_i), { method: :put, id:"delayButton#{device.id}", remote: true })%>
    <%= link_to(edit_user_device_path(current_user, device)) do %>
      <i class='material-icons'>settings</i>
    <% end %>
  </div>
</div>
