<div class="card row">

  <div class="col s12">

    <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>">
      <h4><%= device.name %></h4>
      <%= devices_last_checkin(device) %>
    </a>

    <% if device.developers.exists? || device.permitted_users.exists? %>
      <a class="modal-trigger left tooltipped" data-tooltip='Detailed Permissions' href="#perm<%=device.id%>"><i class="material-icons">lock</i></a>

      <div id="perm<%=device.id%>" class="modal">
        <div class="modal-content">
          <h4>Permission control for <%=device.name%></h4>
          <ul class="permissions collection" data-device=<%=device.id%>>
            <li class="collection-item row valign-wrapper  master-permissions">
              <div class='valign col s7' id="<%=device.id%>-status">
                <h5>Master permissions <%= fogged_icon(device.fogged) %> <%= devices_delay_icon(device.delayed) %></h5>
                This device is <%= device.fogged ? 'fogged' : 'not fogged' %> and is
                <%= device.delayed ? "delayed by #{device.delayed} minutes" : 'not delayed' %>.
              </div>
              <%= render partial: "users/permissions/controls", object: device, as: 'permissionable' %>
            </li>

            <% devices_permitted_actors_for(device).each do |permitted| %>
              <% permission =  device.permission_for(permitted) %>
              <li class="collection-item row valign-wrapper">

                <div class='valign col s5'>
                  <%= permissible_title(permitted) %>
                </div>
                <div class='col s2'>
                  <span id='fogIcon<%=permission.id%>' class='fogIcon<%=device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(permitted)%> can only see fogged data for this device">
                    <%= fogged_icon(device.fogged) if device.fogged %>
                  </span>
                  <span id='delayIcon<%=permission.id%>' class='delayIcon<%=device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(permitted)%> can only see your data after a delay for this device">
                    <%= devices_delay_icon(device.delayed) if device.delayed %>
                  </span>
                  <span id='accessIcon<%=permission.id%>' class='tooltipped' data-tooltip="<%=approvals_approvable_name(permitted)%> can't see any data from this device">
                    <%= devices_access_icon  %>
                  </span>
                </div>
                <%= render partial: "users/permissions/controls", object: permission, as: 'permissionable' %>

              </li>
            <% end %>

          </ul>
        </div>
      </div>
    <% end %>

    <a class="modal-trigger left tooltipped" id='delayButton<%=device.id%>' data-tooltip='Delay Settings' href="#delay<%=device.id%>"><%= devices_delay_icon(device.delayed)%></a>
    <div id="delay<%=device.id%>" class="modal delay-modal">
      <div class="modal-content">
        <h4>Delay Controls</h4>
        <label>Set when new checkins will become visible to your data consumers</label>
        <div class='delay-slider' data-device=<%=device.id%>></div>
      </div>
    </div>

    <%= link_to(fogged_icon(device.fogged), user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, class: 'left tooltipped', data: { fogged: device.fogged?, tooltip:'Fogging' } })%>

    <a class="left tooltipped" data-tooltip="Download checkins (.csv)" href="<%= user_device_path(current_user.url_id, device) %>.csv"><i class="material-icons">file_download</i></a>

    <%= link_to(devices_shared_icon(device), user_device_path(current_user.url_id, device.id, published: device.published), { method: :put, id:"publishedButton#{device.id}", remote: true, class: 'left tooltipped', data: { published: device.published?, tooltip:'Device sharing' } })%>
    <div class="valign-wrapper" id="sharedLink<%= device.id %>">
      <%= devices_shared_link(device) if device.published %>
    </div>
  </div>
</div>
