<div class="card row">

  <div class="col s8">
    <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>">
      <h4><%= device.name %></h4>
      <%= devices_last_checkin(device) %>
    </a>
  </div>

  <div class="col s4">
    <% if device.developers.exists? || device.permitted_users.exists? %>
      <a class="waves-effect waves-light btn-flat modal-trigger right" href="#perm<%=device.id%>"><i class="material-icons left">lock</i>Permissions</a>

      <div id="perm<%=device.id%>" class="modal">
        <div class="modal-content">
          <h4 class="modal-content">Permissions Controls</h4>
          <ul class="permissions collection" data-device=<%=device.id%>>

            <% devices_permitted_actors_for(device).each do |permitted| %>
              <% permission =  device.permission_for(permitted) %>
              <li class="collection-item row valign-wrapper">
                <div class='valign col s8'>
                  <%= permissible_title(permitted) %>
                </div>
                  <%= render partial: "users/permissions/controls", object: permission, as: 'permission' %>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col s4">
    <a class="waves-effect waves-light btn-flat modal-trigger right" href="#priv<%=device.id%>">
      <i class="material-icons left">security</i>Privacy
    </a>
    <div id="priv<%=device.id%>" class="modal">
    <div class="modal-content">
      <h4>Privacy Controls</h4>
      <%= render partial: "privacy", object: device, as: 'device' %>
      </div>
    </div>
  </div>
</div>
