<div class="card">
  <div class="card-content">
    <div class="card-title">
      <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>">
        <span class="editable"><%= device.name %></span> <i class="material-icons grey-text edit-button">mode_edit</i>&nbsp;
      </a>
    </div>
    <div class="card-action">
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <%= link_to info_user_device_path(current_user.url_id, device.id), class: 'btn-flat device-button' do %>
              <i class="material-icons right">perm_device_info</i>Device info
            <% end %>
          </div>
          <div class="col s3">
            <%= link_to user_device_path(current_user.url_id, device.id), { method: :put, id:"fogButton#{device.id}", remote: true, class: 'device-toggle fogButton valign-wrapper', data: { confirm: "Are you sure? Turning fogging off will allow you friends/apps to see your precise location", fogged: device.fogged? } } do %>
              <%=attribute_icon(device.fogged, 'cloud')%>&nbsp;Fogging
            <% end %>
          </div>
          <div class="col s3">
            <a class="modal-trigger valign-wrapper device-toggle delayedButton" id='delayButton<%=device.id%>' data-tooltip='Delay Settings' href="#delay<%=device.id%>"><%= attribute_icon(device.delayed, 'timer')%>&nbsp;Delay</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <a class="permissions-trigger btn-flat device-button" href="#perm<%=device.id%>" data-id=<%=device.id%>>
              <i class="material-icons right">lock</i>Permissions</a>
            </a>
          </div>
          <div class="col s3">
            <%= link_to user_device_path(current_user.url_id, device.id, cloaked: device.cloaked), { method: :put, id:"cloakedButton#{device.id}", remote: true, class: 'device-toggle valign-wrapper cloakedButton', data: { confirm: "Are you sure? Cloaking a device will hide it and all of it's check-ins from all of your apps and friends", cloaked: device.cloaked? } } do %>
              <%=attribute_icon(device.cloaked, 'visibility_off')%>&nbsp;Cloaking
            <% end %>
          </div>
          <div class="col s3">
            <%= link_to user_device_path(current_user.url_id, device.id, published: device.published), { method: :put, id:"publishedButton#{device.id}", remote: true, class: 'device-toggle valign-wrapper sharedButton', data: { published: device.published? } } do %>
              <%=attribute_icon(device.published, 'public')%>&nbsp;Sharing
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <div class="col s6">
            <a class="modal-trigger btn-flat device-button" id='downloadButton<%=device.id%>' href="#download<%=device.id%>">
              <i class="material-icons right">file_download</i>Download check-ins</a>
            </a>
          </div>
          <div class="col s6 valign-wrapper" id="sharedLink<%= device.id %>">
            <%= devices_shared_link(device) if device.published %>
          </div>
        </div>
      </div>
    </div>
    <div class="card-action">
      <p><%= devices_last_checkin(device) %><p>
    </div>
  </div>
</div>

<div id="perm<%=device.id%>" class="modal">
  <div class="modal-content">
    <div>
      <h4 class="inline-text" id='<%=device.id%>-status'><%=device.name%> 
        <%= attribute_icon(device.fogged, 'cloud') %> <%= attribute_icon(device.delayed, 'timer') %> <%= attribute_icon(device.cloaked, 'visibility_off') %> <%= attribute_icon(device.published, 'public') %>
      </h4>
      <%= devices_cloaked_info(device.cloaked) %>
      <a class="right tooltipped" target="_blank" data-tooltip='Permissions help' href="/help#permissions"><i class="material-icons">help</i></a>
    </div>
    <ul class="permissions collection" data-id=<%=device.id%>>
      <li class="collection-item row valign-wrapper  master-permissions">
        <div class='valign col s6'>
          <h5>Update all permissions </h5>
        </div>
        <%= render partial: "users/permissions/controls", object: device, as: 'permissionable' %>
      </li>
    </ul>
  </div>
</div>

<div id="download<%=device.id%>" class="modal download-modal">
  <div class="modal-content">
    <h4 class='center-align'>Choose download format</h4>
    <div class='center-align'>
      <label>Download all the check-ins on this device in one of the following formats:</label></br></br>
      <a class="btn" href="<%= user_device_path(current_user.url_id, device) %>.csv?download=csv">csv</a></br></br>
      <a class="btn" href="<%= user_device_path(current_user.url_id, device) %>.gpx?download=gpx">gpx (route)</a></br></br>
      <a class="btn" href="<%= user_device_path(current_user.url_id, device) %>.geojson?download=geojson">geojson</a>
    </div>
  </div>
</div>

<div id="delay<%=device.id%>" class="modal delay-modal">
  <div class="modal-content">
    <h4>Delay Controls</h4>
    <label>Set when new checkins will become visible to your data consumers</label>
    <div class='delay-slider' data-device=<%=device.id%>></div>
  </div>
</div>