<div class="list-group-item">
  <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>" class="list-group-item">
    <h4 class="list-group-item-heading"><%= device.name %></h4>
    <% if device.checkins.exists? %>
      <p class="list-group-item-text">Last reported in <%= device.checkins.last.address%> </p>
    <% else %>
      <p class="list-group-item-text">No checkins found </p>
    <% end %>
    <% if device.fogged %>
      <p class="list-group-item-text">Fogging is enabled on this device.</p>
    <% end %>
    <% if device.delayed %>
      <p class="list-group-item-text">Timeshifted with a delay of <%= "#{device.delayed.to_s+' minutes'}"%></p>
    <% end %>
    
  </a>
  <div class="row pt-m">
    <ul class="collapsible">
      <% device.developers.each do |developer| %>
        <li>
          <div class="collapsible-header"><%= developer.company_name%> </div>
          <div class="collapsible-body">
            <form action="#">
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{developer.id}"%>-Developer" id="<%="#{device.id}-#{developer.id}"%>-Developer-complete" />
                <label for="complete" class="privilege-label" id="<%="#{device.id}-#{developer.id}"%>-Developer-complete">Complete</label>
              </p>
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{developer.id}"%>-Developer" id="<%="#{device.id}-#{developer.id}"%>-Developer-limited" />
                <label for="limited" class="privilege-label" id="<%="#{device.id}-#{developer.id}"%>-Developer-limited">Limited</label>
              </p>
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{developer.id}"%>-Developer" id="<%="#{device.id}-#{developer.id}"%>-Developer-disallowed" />
                <label for="disallowed" class="privilege-label" id="<%="#{device.id}-#{developer.id}"%>-Developer-disallowed">Disallowed</label>
              </p>
            </form>
          </div>
        </li>
      <% end %>
      <% device.permitted_users.each do |user| %>
        <li>
          <div class="collapsible-header"><%= user.email%> </div>
          <div class="collapsible-body">
            <form action="#">
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{user.id}"%>-User" id="<%="#{device.id}-#{user.id}"%>-User-complete" />
                <label for="complete" class="privilege-label" id="<%="#{device.id}-#{user.id}"%>-User-complete">Complete</label>
              </p>
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{user.id}"%>-User" id="<%="#{device.id}-#{user.id}"%>-User-limited" />
                <label for="limited" class="privilege-label" id="<%="#{device.id}-#{user.id}"%>-User-limited">Limited</label>
              </p>
              <p>
                <input name="privilege" type="radio" class="<%="#{device.id}-#{user.id}"%>-User" id="<%="#{device.id}-#{user.id}"%>-User-disallowed" />
                <label for="disallowed" class="privilege-label" id="<%="#{device.id}-#{user.id}"%>-User-disallowed">Disallowed</label>
              </p>
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
