<div id="icon<%=device.id%>" class="modal icon-modal">
  <div class="modal-content">
    <h4 class='center-align'>Choose your device type</h4>
    <div class='center-align row' id="icons<%=device.id%>">
      <% %w(smartphone watch laptop tablet desktop_windows devices_other).each do |icon| %>
        <%= devices_choose_icon(device, icon) %>
      <% end %>
    </div>
  </div>
</div>

<div id="perm<%=device.id%>" class="modal">
  <div class="modal-content">
    <div>
      <h4 class="inline-text" id='<%=device.id%>-status'><%=device.name%> 
        <%= attribute_icon(device.fogged, 'cloud') %> <%= attribute_icon(device.delayed, 'timer') %> <%= attribute_icon(device.cloaked, 'visibility_off') %> <%= attribute_icon(device.published, 'public') %>
      </h4>
      <%= devices_cloaked_info(device.cloaked) %>
      <a class="right tooltipped" target="_blank" data-tooltip='Permissions help' href="/help#permissions"><i class="material-icons">help</i></a>
    </div>
    <ul class="permissions collection" data-id=<%=device.id%>>
      <li class="collection-item row valign-wrapper  master-permissions">
        <div class='valign col s6'>
          <h5>Update all permissions </h5>
        </div>
        <%= render partial: "users/permissions/controls", object: device, as: 'permissionable' %>
      </li>
    </ul>
  </div>
</div>

<div id="download<%=device.id%>" class="modal download-modal">
  <div class="modal-content">
    <h4 class='center-align'>Choose download format</h4>
    <div class='center-align'>
      <label>Download all the check-ins on this device. Choose the CSV format if you are downloading in order to back up your checkins so you can re-upload them in the future.</label></br></br>
      <a class="btn device-button-small" href="<%= user_device_path(current_user.url_id, device) %>.csv?download=csv">csv</a></br></br>
      <a class="btn device-button-small" href="<%= user_device_path(current_user.url_id, device) %>.gpx?download=gpx">gpx (route)</a></br></br>
      <a class="btn device-button-small" href="<%= user_device_path(current_user.url_id, device) %>.geojson?download=geojson">geojson</a>
    </div>
  </div>
</div>

<div id="upload<%= device.id %>" class="modal upload-modal">
  <div class="modal-content">
    <h4 class='center-align'>Upload checkins</h4>
    <a class="right tooltipped" target="_blank" data-tooltip='Upload help' href="/help#download"><i class="material-icons">help</i></a>
    <div class='center-align'>
      <label>Upload previously downloaded check-ins in the CSV data format to restore data. Warning, this may overwrite existing check-ins.</label></br></br>
      <%= form_tag import_user_device_checkins_path(device_id: device.id), multipart: :true do %>
        <%= file_field_tag :file, accept: 'text/csv' %>
        <%= submit_tag "Import CSV", class: "btn" %>
      <% end %>
    </div>
  </div>
</div>

<div id="delay<%=device.id%>" class="modal delay-modal">
  <div class="modal-content">
    <h4>Delay Controls</h4>
    <label>Set when new checkins will become visible to your data consumers</label>
    <div class='delay-slider' data-device=<%=device.id%>></div>
  </div>
</div>
