<div class="list-group-item">
  <a id="<%= device.name %>" href="<%= user_device_path(current_user.url_id, device) %>" class="list-group-item">
    <h4 class="list-group-item-heading"><%= device.name %></h4>
    <% if device.checkins.exists? %>
      <p class="list-group-item-text">Last reported in <%= device.checkins.last.address%> </p>
    <% else %>
      <p class="list-group-item-text">No checkins found </p>
    <% end %>
    <% if device.fogged %>
      <p class="list-group-item-text">Fogging is enabled on this device.</p>
    <% end %>
    <% if device.delayed %>
      <p class="list-group-item-text">Timeshifted with a delay of <%= "#{device.delayed.to_s+' minutes'}"%></p>
    <% end %>
    
  </a>
  <div class="row pt-m">
    <ul class="collapsible">
      <% device.developers.each do |developer| %>
        <li>
          <div class="collapsible-header"><%= developer.company_name%> </div>
          <div class="collapsible-body">
            <form action="#">
              <p>
                <input name="privilege" type="radio"
                 data-device='<%= device.id %>' 
                 data-permissible='<%= developer.id %>' 
                 data-privilege='complete' 
                 data-permissible-type='Developer'/>
                <label for="complete" class="privilege-label"
                 data-device='<%= device.id %>'
                 data-permissible='<%= developer.id %>' 
                 data-privilege='complete' 
                 data-permissible-type='Developer'>Complete</label>
              </p>
              <p>
                <input name="privilege" type="radio" 
                data-device='<%= device.id %>' 
                data-permissible='<%= developer.id %>' 
                data-privilege='limited' 
                data-permissible-type='Developer'/>
                <label for="limited" class="privilege-label" 
                data-device='<%= device.id %>' 
                data-permissible='<%= developer.id %>' 
                data-privilege='limited' 
                data-permissible-type='Developer'>Limited</label>
              </p>
              <p>
                <input name="privilege" type="radio" 
                data-device='<%= device.id %>' 
                data-permissible='<%= developer.id %>' 
                data-privilege='disallowed' 
                data-permissible-type='Developer'/>
                <label for="disallowed" class="privilege-label" 
                data-device='<%= device.id %>' 
                data-permissible='<%= developer.id %>' 
                data-privilege='disallowed' 
                data-permissible-type='Developer'>Disallowed</label>
              </p>
            </form>
          </div>
        </li>
      <% end %>
      <% device.permitted_users.each do |user| %>
        <li>
          <div class="collapsible-header"><%= user.email%> </div>
          <div class="collapsible-body">
            <form action="#">
              <p>
                <input name="privilege" type="radio"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='complete' 
                data-permissible-type='User'/> 
                <label for="complete" class="privilege-label"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='complete' 
                data-permissible-type='User'>Complete</label>
              </p>
              <p>
                <input name="privilege" type="radio"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='limited' 
                data-permissible-type='User'/>
                <label for="limited" class="privilege-label"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='limited' 
                data-permissible-type='User'>Limited</label>
              </p>
              <p>
                <input name="privilege" type="radio"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='disallowed' 
                data-permissible-type='User'/>
                <label for="disallowed" class="privilege-label"
                data-device='<%= device.id %>' 
                data-permissible='<%= user.id %>' 
                data-privilege='disallowed' 
                data-permissible-type='User'>Disallowed</label>
              </p>
            </form>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
