<h3>Your current devices are:</h3><br>
<div class="list-group">
  <% @devices.each do |device| %>
    <div class="list-group-item">
      <a id="<%= device.name %>" href="<%= user_device_path(current_user.username, device) %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= device.name %></h4>
        <% if device.checkins.exists? %>
          <p class="list-group-item-text">Last reported in <%= device.checkins.last.address%></p>
        <% else %>
          <p class="list-group-item-text">No checkins found</p>
        <% end %>
      </a>
      <div class="row pt-m">
        <div class="col-lg-12 list-group-item-text">
          <% device.developers.each do |developer| %>
            <div id="<%= "device#{device.id}developer#{developer.id}" %>" class="col-lg-2 col-lg-offset-1 dev-box small-curved-border small-height clearfix tiny-shadow m-tb-s <%= "privilege-#{device.privilege_for(developer)}" %>">
              <%= link_to(developer.company_name, switch_privilege_for_developer_user_device_path(current_user.id, device.id, developer: developer.id), html_options={ method: :post, remote: true, class: "white-link" })  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-3 col-md-offset-2 m-tb-s">
    <%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>
  </div>

  <div class="col-md-3 col-md-offset-2 m-tb-s">
    <%= link_to("Add current device", add_current_user_devices_path, class: "btn btn-primary btn-lg") %>
  </div>
</div>