<h3>Your current devices are:</h3><br>
<div class="list-group">
  <% @devices.each do |device| %>
    <a href="<%= user_device_path(device) %>" class="list-group-item">
      <h4 class="list-group-item-heading"><%= device.name %></h4>
      <p class="list-group-item-text">Last reported in <%= "#{device.checkins.last.city}, #{device.checkins.last.country}" %></p>
    </a>
  <% end %>
</div>

<%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>

<%= link_to("Spoof requests", spoof_redbox_checkins_path, { class: "btn btn-warning btn-lg", style: "position:absolute;right:0px; bottom:0px;" }) %>