<h3>Your current devices are:</h3><br>
<div class="list-group">
  <% @devices.each do |device| %>
    <div class="list-group-item">
      <a id="<%= device.name %>" href="<%= user_device_path(current_user.id, device) %>" class="list-group-item">
        <h4 class="list-group-item-heading"><%= device.name %></h4>
        <p class="list-group-item-text">Last reported in <%= device.checkins.last.address %></p>
      </a>
      <div class="row pt-m">
        <div class="col-xs-12 list-group-item-text">
          <% device.developers.each do |developer| %>
            <div id="<%= "device#{device.id}developer#{developer.id}" %>" class="col-xs-3 dev-box small-curved-border small-height clearfix tiny-shadow <%= "privilege-#{device.privilege_for(developer)}" %>">
              <%= link_to(developer.company_name, switch_privilige_for_developer_user_device_path(current_user.id, device.id, developer: developer.id), html_options={ method: :post, remote: true, class: "white-link" })  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>

<%= link_to("Spoof requests", spoof_redbox_checkins_path, { class: "btn btn-warning btn-lg", style: "position:absolute;right:0px; bottom:0px;" }) %>