<h3>Your current devices are:</h3><br>
<div class="collection">
  <% @devices.each do |device| %>
    <%= render device %>
  <% end %>
</div>

<div class="row">
  <div class="col m3 offset-m2">
    <%= link_to("Add new device", new_user_device_path, class: "btn btn-primary btn-lg") %>
  </div>

  <div class="col m3 offset-m2">
    <%= link_to("Add current device", add_current_user_devices_path, class: "btn btn-primary btn-lg") %>
  </div>
</div>

<script>
var current_user_id =  <%= @current_user_id %>;
var permissions_path = "<%= permissions_user_devices_path%>";

function update_radios(data){
  $.each( data, function( index, permission ){
    var device = permission.device_id;
    var permissible = permission.permissible_id;
    var type = permission.permissible_type;
    var priv = permission.privilege;
    $('input[data-device="'+device+'"][data-permissible="'+permissible+'"][data-permissible-type="'+type+'"][data-privilege="'+priv+'"]').prop('checked', true);
  });
}

function get_permissions(){ 
  $.ajax({
    url: permissions_path,
    context: document.body
  }).done(function(data) {
    update_radios(data);
  });
}

function update_permission(device_id, permissible_id, type, privilege){
  $.ajax({
    url: "/users/"+current_user_id+"/devices/"+device_id+"/switch_privilege",
    type: 'POST',
    data: { permissible: permissible_id, privilege: privilege, permissible_type: type },
  }).done(function() {
    get_permissions();
  });
}

function radio_click() {
  $(".privilege-label").on( "click", function( event ) {
    var dataset = event.target.dataset
    var device_id = dataset['device'];
    var permissible_id = dataset['permissible'];
    var type = dataset['permissibleType'];
    var privilege = dataset['privilege'];
    update_permission(device_id, permissible_id, type, privilege)
  });
}
get_permissions();
radio_click();
</script>