<h1><%=@device.name%></h1>

<table>
  <tbody>
    <tr>
      <td>UUID</td>
      <td><%=@device.uuid%></td>
    </tr>
    <tr>
      <td>Created at</td>
      <td><%=@config.created_at%></td>
    </tr>

    <tr>
      <td><h4>Device configuration</h4></td>
    </tr>

    <tr>
      <td>Developer</td>
      <td><%=@config.developer.company_name%></td>
    </tr>
    <%= @presenter.config_rows %>
  </tbody>
</table>
