<h1><%=@device.name%></h1>

<table>
  <tbody>
    <tr>
      <td>UUID</td>
      <td><%=@device.uuid%></td>
    </tr>
    <tr>
      <td>Created at</td>
      <td><%=@config.created_at%></td>
    </tr>
  </tbody>
</table>

<h4>Device configuration</h3>

<table>
  <tbody>
    <tr>
      <td>Developer</td>
      <td><%=@config.developer.company_name%></td>
    </tr>
    <%= devices_config_rows(@config) %>
  </tbody>
</table>
