<h1><%=@presenter.device.name%></h1>
<table>
  <tbody>
    <tr>
      <td>UUID</td>
      <td><%=@presenter.device.uuid%></td>
    </tr>
    <tr>
      <td>Created at</td>
      <td><%=@presenter.config.created_at%></td>
    </tr>
  </tbody>
</table>

<h3>Configuration</h3>
<table>
  <tbody>
    <tr>
      <td>Developer</td>
      <td><%=@presenter.config.developer.company_name%></td>
    </tr>
  <% @presenter.config.custom.each do |key, value| %>
    <tr>
      <td><%=key%></td>
      <td><%=value%></td>
    </tr>
  <% end if @presenter.config.custom %>
  </tbody>
</table>
