<%= form_for @device, url: {action: "create"}, html: {class: "form-group"} do |f| %>
  <%= label(:uuid, "Enter UUID", class: "control-label") %>
  <%= f.text_field(:uuid, class: "form-control input-lg fifth-width", placeholder: "15 digits, no spaces") %><br>
  <%= label(:name, "Enter a friendly name", class: "control-label") %>
  <%= f.text_field(:name, class: "form-control input-lg fifth-width", placeholder: "G-RALA") %>
  <%= f.submit("Add", class: "form-control btn btn-default") %>
  <%= hidden_field_tag('redirect', @redirect_target) %>
  <%= hidden_field_tag('location', nil) if @adding_current_device %>
<% end %>

<%= render "preview_map" if @adding_current_device %>

<p>Since this is still in development, an IMEI and a name MUST be supplied, or an error will be raised.</p>