<div class="row">
  <div class="col">
    <div class="card">
      <div class="card-image">
        <img id="mapholder" src="" width="500" height="250">
      </div>
      <div class="card-content">
        <ul>
          <li>User: <%= friends_name(@device.user) %></li>
          <li>Device: <%= @device.name %></li>
          <li>Created on: <%= humanize_date(@checkin.created_at) %></li>
          <li>Latitude: <%=  @checkin.lat %></li>
          <li>Longitude <%= @checkin.lng %></li>
          <li>Address: <%= @checkin.address %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<script>
  var img_url = '<%= checkins_static_map_url_for_friend(@checkin) %>';
  $('#mapholder').attr("src", img_url);
</script>
