<% content_for :outside_container do %>
<%= Gon::Base.render_data %>

  <div id='map'></div>
  <div class="bottom-panel">
    <div class="buttons"><%= link_to("Delete history", user_device_checkins_path(current_user.url_id, @device.id), { method: :delete, class: "btn red white-text", data: { confirm: 'Delete all checkins for this device?' } })%>
      <%= link_to("Delete device", user_device_path(current_user.url_id, @device), { method: :delete, class: "btn red white-text", data: { confirm: 'Are you sure?' } })%>
    </div>
    <%= will_paginate @checkins %>
  </div>
  <script>
    window.Copo = window.Copo || {};


    L.mapbox.accessToken = 'pk.eyJ1IjoiZ2FyeXNpdSIsImEiOiJjaWxjZjN3MTMwMDZhdnNtMnhsYmh4N3lpIn0.RAGGQ0OaM81HVe0OiAKE0w';
    var map = L.mapbox.map('map', 'mapbox.light', {maxZoom: 18} );

    Copo.checkins = gon.checkins

    map.on('popupopen', function(e){
      var coords = e.popup.getLatLng()
      if($('#current-location').length){

        var checkinPath = '<%= j user_device_checkins_path(current_user.url_id, @device.id) %>';
        var checkin = {
          'checkin[lat]': coords.lat.toFixed(6),
          'checkin[lng]': coords.lng.toFixed(6)
        }
        checkinPath += '?'
        checkinPath += $.param(checkin)

        var $newCheckinLink = $('<%= j link_to("Create checkin here", new_user_device_checkin_path(current_user.url_id, @device.id), method: "post", remote: true) %>');
        $newCheckinLink.attr('href', checkinPath);
        $('#current-location').replaceWith($newCheckinLink);
      }
    })

  </script>
<% end %>
