<h1><%= @device.name %></h1>
<br>
<%= link_to("Delete history", "#{user_devices_path}/#{@device.id}/checkins/#{@device.id}", { method: :delete, class: "btn btn-danger btn-lg m-m"  })%>
<%= link_to("Delete device", "#{user_devices_path}/#{@device.id}", { method: :delete, class: "btn btn-danger btn-lg m-m" })%>
<br>
<%= render partial: "fogging" %>

<%= render partial: "checkin_table" %>