<h1><%= @device.name %></h1>
<br>
<%= link_to(@fogmessage, fog_user_device_path(current_user.id, @device.id), { method: :put, class: "btn btn-info btn-lg m-m", id:"fogButton", remote: true  })%>
<%= link_to("Delete history", redbox_checkin_path, { method: :delete, class: "btn btn-danger btn-lg m-m"  })%>
<%= link_to("Delete device", "#{user_devices_path}/#{@device.id}", { method: :delete, class: "btn btn-danger btn-lg m-m" })%>

<table class="table table-striped table-hover">
  <tr>
    <% Checkin.non_geocoded_keys(exception: "device_id").each do |key| %>
      <th>
        <%= key.titleize %>
      </th>
    <% end %>
    <th>
      Delete
    </th>
  </tr>
  <% @device.checkins.each do |checkin| %>
    <tr id="checkin<%= checkin.id %>" class="animated">
      <% checkin.non_geocoded_data(exception: "device_id").values.each do |val| %>
        <td>
          <%= val %>
        </td>
      <% end %>
      <td>
        <%= button_to "x", checkin_user_device_path(current_user.id, @device.id, checkin_id: checkin.id), method: :delete, remote: true, class: "btn btn-danger" %>
      </td>
    </tr>  
  <% end %>
</table>