<div id='gonvariables'>
  <%= Gon::Base.render_data %>
</div>

<h1>Activities</h1>

<%= link_to("Clear", activities_path) %>
<%= form_tag(activities_path, method: "get") do %>
  <div class="row">
    <div class="col s6 input-field search">
      <%= text_field_tag(:owner_id, "", class: "validate users_typeahead", required: true) %>
    </div>
    <%= hidden_field_tag :owner_type, value: "User" %>
    <%= hidden_field_tag :search, value: true %>
    <%= button_tag "Search", class: "waves-effect waves-light btn", type: "submit" %>
  </div>
<% end %>

<ul class="collection">
  <% @activities.each do |activity| %>
    <li class="collection-item">
      <h6>
        <% if activity.owner.class.name == "User" %>
          <%= link_to(activity.owner.username , activities_path(filter: { owner_type: "User", owner_id: activity.owner.id })) %>
        <% else %>
          <%= link_to(activity.owner.company_name , activities_path(filter: { owner_type: "Developer", owner_id: activity.owner.id })) %> 
        <% end %>
        <label><%= humanize_date_and_time(activity.created_at) %></label>
        <label><%= link_to(activity.key , activities_path(filter: { key: activity.key })) %></label>
      </h6>
      <%= render_activity activity %>
    </li>
  <% end %>
</ul>

<div class="center"><%= will_paginate @activities %><div>
