<ul class="side-nav" id="mobile-nav">
  <li>
    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><a class="" href="#!">About<i class="material-icons right">arrow_drop_down</i></a></div>
        <div class="collapsible-body">
          <ul>
            <li><a href="#">Security</a></li>
            <li><a href="#">Enrolled companies</a></li>
            <li><a href="#">Why use Coposition</a></li>
            <li><%= link_to('API', 'https://earlymarket.github.io/copo-docs/') %></li>
          </ul>
        </div>
      </li>
    </ul>
  </li>

  <% if user_signed_in? %>
    <li>
      <%= link_to("Dashboard", user_dashboard_path(current_user)) %>
    </li>
    <li>
      <%= link_to("Devices", user_devices_path(current_user.url_id)) %>
    </li>
    <li>
      <%= link_to(navbar_indicator('Apps', current_user.developer_requests.count), user_apps_path(current_user.url_id)) %>
    </li>
    <li>
      <%= link_to(navbar_indicator('Friends', current_user.friend_requests.count), user_friends_path(current_user.url_id)) %>
    </li>
    <li>
      <%= link_to('Edit account', edit_user_registration_path) %>
    </li>
    <li>
      <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
    </li>
    <li>
      <%= link_to("Developers", developers_console_path) %>
    </li>
    <% if developer_signed_in? %>
      <li>
        <%= link_to("Developer log out", destroy_developer_session_path, method: :delete) %>
      </li>
    <% end %>
  <% elsif developer_signed_in? %>
    <li>
      <%= link_to("Developer Console", developers_console_path) %>
    </li>
    <li>
      <%= link_to("Developer log out", destroy_developer_session_path, method: :delete) %>
    </li>
    <li>
      <%= link_to("User log in", new_user_session_path) %>
    </li>
  <% else %>
    <li>
      <%= link_to("Developers", new_developer_session_path) %>
    </li>
    <li>
      <%= link_to("User log in", new_user_session_path) %>
    </li>
  <% end %>
</ul>
