<nav class="nav-wrapper<%= if controller_name == 'welcome' && action_name == 'index' then ' transparent-nav' end %>" role="navigation" data-turbolinks-permanent>
  <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>

  <%= link_to(inline_svg('bordered-logo.svg', id: "brand-logo"), root_path, class: "valign-wrapper left") %>

  <ul class="right hide-on-med-and-down">
    <li><a href="#">About</a></li>
    <li><%= link_to('API', 'https://earlymarket.github.io/copo-docs/') %></li>

    <% if user_signed_in? %>
      <li><%= link_to("Dashboard", user_dashboard_path(current_user.url_id)) %></li>
      <li><%= link_to("Devices", user_devices_path(current_user.url_id)) %></li>
      <li><%= link_to(navbar_indicator('Apps', current_user.developer_requests.count), user_apps_path(current_user.url_id)) %></li>
      <li><%= link_to(navbar_indicator('Friends', current_user.friend_requests.count), user_friends_path(current_user.url_id)) %></li>

      <li>
        <%= link_to(edit_user_registration_path, class: 'settings-icon valign-wrapper') do %>
          <i class='material-icons valign'>settings</i>
        <% end %>
      </li>

      <li>
        <%= link_to(inline_svg('log-out.svg', class: 'svg-btn valign'), destroy_user_session_path, method: :delete, class: 'valign-wrapper', title: 'Log Out') %>
      </li>
    <% else %>
      <li>
        <%= link_to(inline_svg('log-in.svg', class: 'svg-btn valign'), new_user_session_path, class: 'valign-wrapper', title: 'User Log In') %>
      </li>
    <% end %>
  </ul>
</nav>
