<nav class="nav-wrapper red lighten-1" role="navigation" data-turbolinks-permanent>
  <ul id="dropdown-about" class="dropdown-content">
    <li><a href="#">Security</a></li>
    <li><a href="#">Enrolled companies</a></li>
    <li><a href="#">Why use CoPosition</a></li>
    <li class="divider"></li>
    <li><%= link_to("API", api_path) %></li>
  </ul>

  <ul id="dropdown-dashboard" class="dropdown-content">
    <li><a href="<%= user_devices_path(current_user) %>" role="button">Devices</a></li>
    <li><a href="<%= user_approvals_path(current_user) %>" role="button">Approvals</a></li>
  </ul>

  <a href="/" class="brand-logo lobster center">CoPosition</a>



  <ul class="left hide-on-small-only">
    <li><a href="<%= signed_in? ? developers_console_path : new_developer_session_path %>">Developers</a></li>
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-button hide-on-med-and-down" href="#!" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>

  <ul class="right hide-on-med-and-down">
    <% if user_signed_in? %>
      <li>
        <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
      </li>

      <li>
        <a class="dropdown-button hide-on-med-and-down" href="<%= user_dashboard_path(current_user) %>" data-activates="dropdown-dashboard">Dashboard<i class="material-icons right">arrow_drop_down</i></a>
      </li>

    <% elsif developer_signed_in? %>
      <li>
        <%= link_to("Developer Sign out", destroy_user_session_path, method: :delete) %>
      </li>
      <li>
        <%= link_to("User Sign in", new_user_session_path) %>
      </li>
    <% else %>
      <li>
        <%= link_to("User Sign in", new_user_session_path) %>
      </li>
    <% end %>
  </ul>



  <!-- mobile navigation sidebar -->
  <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="side-nav" id="mobile-nav">
    <li><a href="<%= signed_in? ? developers_console_path : new_developer_session_path %>">Developers</a></li>

    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><a class="" href="#!">About<i class="material-icons right">arrow_drop_down</i></a></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Security</a></li>
              <li><a href="#">Enrolled companies</a></li>
              <li><a href="#">Why use CoPosition</a></li>
              <li><%= link_to("API", api_path) %></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <% if user_signed_in? %>
      <li>
        <a href="<%= user_dashboard_path(current_user) %>">Dashboard</a>
      </li>
      <li>
        <%= link_to("Sign out", destroy_user_session_path, method: :delete) %>
      </li>

    <% elsif developer_signed_in? %>
      <li>
        <%= link_to("Developer Sign out", destroy_user_session_path, method: :delete) %>
      </li>
      <li>
        <%= link_to("User Sign in", new_user_session_path) %>
      </li>
    <% else %>
      <li>
        <%= link_to("User Sign in", new_user_session_path) %>
      </li>
    <% end %>
  </ul>
</nav>