<nav class="nav-wrapper transparent-nav" role="navigation" data-turbolinks-permanent>
  <ul id="dropdown-about" class="dropdown-content">
    <li><a href="#">Security</a></li>
    <li><a href="#">Enrolled companies</a></li>
    <li><a href="#">Why use CoPosition</a></li>
    <li class="divider"></li>
    <li><%= link_to("API", api_path) %></li>
  </ul>

  <a href="/" class="valign-wrapper left brand"><%= inline_svg('bordered-logo.svg', id: "brand-logo", class: "valign") %></a>

  <ul class="right">
    <% if user_signed_in? %>
      <ul id="dropdown-dashboard" class="dropdown-content">
        <li><a href="<%= user_devices_path(current_user.url_id) %>" role="button">Devices</a></li>
        <li><a href="<%= user_approvals_path(current_user.url_id) %>" role="button">Approvals</a></li>
        <li><a href="<%= edit_user_registration_path %>" role="button">Edit Account</a></li>
      </ul>

      <li>
        <a class="dropdown-button" href="<%= user_dashboard_path(current_user.url_id) %>" data-activates="dropdown-dashboard">Dashboard<i class="material-icons right">arrow_drop_down</i></a>
      </li>

      <li>
        <%= link_to("Log out", destroy_user_session_path, method: :delete, class: "login-btn btn transparent-btn") %>
      </li>

    <% elsif developer_signed_in? %>
      <li>
        <%= link_to("Developer log out", destroy_user_session_path, method: :delete, class: "login-btn btn transparent-btn") %>
      </li>
      <li>
        <%= link_to("User log in", new_user_session_path, class: "login-btn btn transparent-btn") %>
      </li>
    <% else %>
      <li>
        <%= link_to("User log in", new_user_session_path, class: "login-btn btn transparent-btn") %>
      </li>
    <% end %>
  </ul>

  <ul class="right">
    <!-- Dropdown Trigger -->
    <li><a class="dropdown-button" href="#!" data-activates="dropdown-about">About<i class="material-icons right">arrow_drop_down</i></a></li>
  </ul>

  <!-- mobile navigation sidebar -->
  <!-- <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
  <ul class="side-nav" id="mobile-nav">
    <li><a href="<%= signed_in? ? developers_console_path : new_developer_session_path %>">Developers</a></li>

    <li>
      <ul class="collapsible">
        <li>
          <div class="collapsible-header"><a class="" href="#!">About<i class="material-icons right">arrow_drop_down</i></a></div>
          <div class="collapsible-body">
            <ul>
              <li><a href="#">Security</a></li>
              <li><a href="#">Enrolled companies</a></li>
              <li><a href="#">Why use CoPosition</a></li>
              <li><%= link_to("API", api_path) %></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <% if user_signed_in? %>
      <li>
        <a href="<%= user_dashboard_path(current_user) %>">Dashboard</a>
      </li>
      <li>
        <%= link_to("Log out", destroy_user_session_path, method: :delete) %>
      </li>

    <% elsif developer_signed_in? %>
      <li>
        <%= link_to("Developer log out", destroy_user_session_path, method: :delete) %>
      </li>
      <li>
        <%= link_to("User log in", new_user_session_path) %>
      </li>
    <% else %>
      <li>
        <%= link_to("User log in", new_user_session_path) %>
      </li>
    <% end %>
  </ul> -->
</nav>
