<main>
  <% if alert %>
    <div class="col-xs-4 col-xs-offset-4 alert alert-dismissible alert-danger animated flipInX">
      <button type="button" class="close">×</button>
        <%= alert %>
    </div>
    <div class="clearfix"></div>
  <% end %>
  <% if notice %>
    <div class="col-xs-4 col-xs-offset-4 alert alert-dismissible alert-info animated flipInX">
      <button type="button" class="close">×</button>
        <%= notice %>
    </div>
    <div class="clearfix"></div>
  <% end %>
  <% if flash[:notification] %>
    <% flash[:notification].each do |n|%>
      <div class="col-xs-4 col-xs-offset-4 alert alert-dismissible alert-info animated tada">
        <button type="button" class="close">×</button>
        <%= link_to(n[:notification][:msg].html_safe, eval(n[:notification][:link_path])) %>
      </div>
    <% end %>
    <div class="clearfix"></div>
    <% flash.discard(:notification) %>
  <% end %>
  <div id="container" class="animated-fast slideInRight">
    <%= yield :landing_page %>
  </div>

  <div id="container" class="animated-fast slideInRight container">
    <%= yield %>
  </div>
</main>