<!DOCTYPE html>
<html>
<head>
  <title>Coposition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">google.charts.load('current', {packages: ['bar', 'table', 'calendar']});</script>
  <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.mapbox.css' rel='stylesheet' />
  <!--[if lt IE 9]>
    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/L.Control.Locate.ie.css' rel='stylesheet' />
  <![endif]-->
  <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-locatecontrol/v0.43.0/css/font-awesome.min.css' rel='stylesheet' />
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= cloudinary_js_config %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300|Roboto+Condensed:400,300|Fira+Mono|Material+Icons' rel='stylesheet' type='text/css'>
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
</head>
<body class="c-<%= controller_name %> a-<%= action_name %>">

  <%= render partial: "navbar" %>
  <%= render partial: "mobilenav" %>
  <main>
  <%= javascript_tag( raw render_flash ) %>
    <div class="outside-container">
      <%= yield :outside_container %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </main>
  <%= render partial: "footer" %>
</body>
</html>
