<!DOCTYPE html>
<html>
<head>
  <title>CoPosition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar navbar-inverse" data-turbolinks-permanent>
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">CoPosition</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
        <ul class="nav navbar-nav">
          <li><a href="<%= signed_in? ? developers_console_path : new_developer_session_path %>">Developers</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">About <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Security</a></li>
              <li><a href="#">Enrolled companies</a></li>
              <li><a href="#">Why use CoPosition</a></li>
              <li class="divider"></li>
              <li><a href="#">Redbox</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= user_signed_in? ? link_to("Sign out", destroy_user_session_path, method: :delete) : link_to("Sign in", new_user_session_path) %>
          </li>
            <li>
            <%= link_to("Create an account", new_user_registration_path) unless signed_in? %>
            </li>
          <li>
            <% if user_signed_in? %>
              <%= link_to("Dashboard", user_dashboard_path(current_user))%>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <center>
    <% if alert %>
      <div class="alert alert-dismissible alert-danger animated flipInX">
        <button type="button" class="close">×</button>
        <strong>Oh snap!</strong> <%= alert %>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert alert-dismissible alert-info animated flipInX">
        <button type="button" class="close">×</button>
          <%= notice %>
      </div>
    <% end %>
    <% if flash[:notification] %>
      <% flash[:notification].each do |n|%>
        <div class="alert alert-dismissible alert-info animated tada">
          <button type="button" class="close">×</button>
          <%= link_to(n[:notification][:msg].html_safe, eval(n[:notification][:link_path])) %>
        </div>
      <% end %>
      <% flash.discard(:notification) %>
    <% end %>
    <div id="container" class="animated-fast slideInRight">
      <%= yield %>
    </div>
  </center>
</body>
</html>
