<!DOCTYPE html>
<html>
<head>
  <title>CoPosition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <meta name="format-detection" content="telephone=no">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
</head>
<body>

  <%= render partial: "layouts/navbar" %>

  <% if developer_signed_in? %>
    <%= link_to image_tag(current_developer.logo.url(:thumb), class: "small-curved-border half-opacity negative-m-m"), developers_console_path, class: "fixed bottom left" %>
  <% end %>
  
  <%= render partial: "layouts/notifications" %>

</body>
</html>
