<h2><%= "#{@checkin.device.name} checkin" %></h2>

<div class='list-group'>
  <div class='list-group-item'>
    <span class='list-group-item-header'><%= "Checkin ID: " %></span>
    <span class='list-group-item-text'><%= @checkin.id %></span>
  </div>
  <div class='list-group-item'>
    <span class='list-group-item-header'><%= "Created at: " %></span>
    <span class='list-group-item-text'><%= @checkin.created_at %></span>
  </div>
  <div class='list-group-item'>
    <span class='list-group-item-header'><%= "Coordinates: " %></span>
    <span class='list-group-item-text'><%= "[#{@checkin.lat}, #{@checkin.lng}]" %></span>
  </div>
  <div class='list-group-item'>
    <span class='list-group-item-header'><%= "Address: " %></span>
    <span class='list-group-item-text'><%= @checkin.address %></span>
  </div>
</div>