<%= render("/shared/notifications") %>
for(i = 0; i < gon.checkins.length; i++) {
  if(gon.checkins[i].id === <%= @checkin.id %>){
    gon.checkins[i].fogged = <%= @checkin.fogged %>
  }
}

//change open popups

if(<%= @checkin.fogged %>){
  $('#fog<%=@checkin.id%>').attr('class', 'fogged enabled-icon')
    .parent().prepend('<li class="foggedAddress">Fogged address: <%= @checkin.fogged_area %></li>');
  $('.foggedAddress').hide().slideDown('fast');
  $('#tableFog<%=@checkin.id%>').attr('class', 'fogged enabled-icon')
} else {
  $('#fog<%=@checkin.id%>').attr('class', 'disabled-icon');
  $('.foggedAddress').slideUp('fast', function(){
    $(this).remove();
  });
  $('#tableFog<%=@checkin.id%>').attr('class', 'disabled-icon');
}

//refresh the state of all markers
COPO.maps.queueRefresh();
