<%= raw render_flash %>
$('#gonvariables').html("<%= j Gon::Base.render_data %>")
//change open popups

if(<%= @checkin.fogged %>){
  $('#fog<%=@checkin.id%>').attr('class', 'fogged enabled-icon')
    .parent().prepend('<li class="foggedAddress">Fogged address: <%= @checkin.fogged_area %></li>');
  $('.foggedAddress').hide().slideDown('fast');
} else {
  $('#fog<%=@checkin.id%>').attr('class', 'disabled-icon');
  $('.foggedAddress').slideUp('fast', function(){
    $(this).remove();
  });
}

//refresh the state of all markers
COPO.charts.refreshCharts(gon.checkins, 'user');
COPO.maps.queueRefresh(gon.checkins);
