<div class="col s6 permission<%=permissions_control_class(permissionable)%>">
  <label>Check-in history access</label>
  <div class='row'>
    <div class="<%=permissions_switch_class(permissionable)%> radio col" data-id=<%=permissionable.id%> data-attribute="privilege" data-switchtype="disallowed">
      <%= radio_button_tag permissionable.id, 'disallowed', permissions_check_box_value(permissionable, 'disallowed'), class: 'with-gap', id: permissions_label_id(permissionable, 'disallowed') %>
      <label id="<%=permissions_label_id(permissionable, 'disallowed')%>" for="<%=permissions_label_id(permissionable, 'disallowed')%>">Disable</label>
    </div>
    <div class="<%=permissions_switch_class(permissionable)%> radio col" data-id=<%=permissionable.id%> data-attribute="privilege" data-switchtype="last_only">
      <%= radio_button_tag permissionable.id, 'last_only', permissions_check_box_value(permissionable, 'last_only'), class: 'with-gap', id: permissions_label_id(permissionable, 'last_only') %>
      <label id="<%=permissions_label_id(permissionable, 'last_only')%>" for="<%=permissions_label_id(permissionable, 'last_only')%>">Last</label>
    </div>
    <div class="<%=permissions_switch_class(permissionable)%> radio col" data-id=<%=permissionable.id%> data-attribute="privilege" data-switchtype="complete">
      <%= radio_button_tag permissionable.id, 'complete', permissions_check_box_value(permissionable, 'complete'), class: 'with-gap', id: permissions_label_id(permissionable, 'complete')  %>
      <label id="<%=permissions_label_id(permissionable, 'complete')%>" for="<%=permissions_label_id(permissionable, 'complete')%>">Full history</label>
    </div>
  </div>
  <div class="<%=permissions_switch_class(permissionable)%> switch disable" data-id=<%=permissionable.id%> data-attribute="bypass_fogging" data-switchtype="bypass_fogging">
    <%= check_box_tag permissions_label_id(permissionable, 'bypass-fogging'),'', permissions_check_box_value(permissionable, 'bypass_fogging') %>
    <label id="<%=permissions_label_id(permissionable, 'bypass-fogging')%>" for="<%=permissions_label_id(permissionable, 'bypass-fogging')%>">
      Bypass Fogging
    </label>
  </div>
  <div class="<%=permissions_switch_class(permissionable)%> switch disable" data-id=<%=permissionable.id%> data-attribute="bypass_delay" data-switchtype="bypass_delay">
    <%= check_box_tag permissions_label_id(permissionable, 'bypass-delay'),'', permissions_check_box_value(permissionable, 'bypass_delay') %>
    <label id="<%=permissions_label_id(permissionable, 'bypass-delay')%>" for="<%=permissions_label_id(permissionable, 'bypass-delay')%>">
      Bypass Delay
    </label>
  </div>
</div>

