<div class="col s4 permission" data-permission=<%=permission.id%>>
  <div class="switch tooltipped"  data-tooltip='Disable access for this consumer on this device'>
    <label class="privilege" name="disallowed">
      <%= check_box_tag 'privilege','', permission.privilege == "disallowed" %>
      <span class="lever"></span>
      Disable access
    </label>
  </div>
  <div class="switch disable tooltipped" data-tooltip='Allow this data consumer to view unfogged data for fogged checkins.'>
    <label class="bypass_fogging" name='bypass_fogging'>
      <%= check_box_tag 'bypass_fogging','', permission.bypass_fogging %>
      <span class="lever"></span>
      Bypass Fogging
    </label>
  </div>
  <div class="switch disable tooltipped" data-tooltip='Allow this data consumer to view un-timeshifted data for fogged checkins.'>
    <label class="bypass_delay"  name='bypass_delay'>
      <%= check_box_tag 'bypass_delay','', permission.bypass_delay %>
      <span class="lever"></span>
      Bypass Delay
    </label>
  </div>
  <div class="switch disable tooltipped" data-tooltip='Allow this data consumer to view your most recent checkin for this device only'>
    <label class="privilege" name="last_only">
      <%= check_box_tag 'last_only','', permission.privilege == "last_only" %>
      <span class="lever"></span>
      Last Checkin Only
    </label>
  </div>
</div>
