<div class="col s4 permission">
  <div class="switch" data-permission=<%=permission.id%> data-attribute="privilege" data-switch="disallowed">
    <label>
      <%= check_box_tag 'privilege','', permission.privilege == "disallowed" %>
      <span class="lever"></span>
      Disable access
    </label>
  </div>
  <div class="switch disable" data-permission=<%=permission.id%> data-attribute="bypass_fogging" data-switch="bypass_fogging">
    <label>
      <%= check_box_tag 'bypass_fogging','', permission.bypass_fogging %>
      <span class="lever"></span>
      Bypass Fogging
    </label>
  </div>
  <div class="switch disable" data-permission=<%=permission.id%> data-attribute="bypass_delay" data-switch="bypass_delay">
    <label>
      <%= check_box_tag 'bypass_delay','', permission.bypass_delay %>
      <span class="lever"></span>
      Bypass Delay
    </label>
  </div>
  <div class="switch disable" data-permission=<%=permission.id%> data-attribute="privilege" data-switch="last_only">
    <label>
      <%= check_box_tag 'last_only','', permission.privilege == "last_only" %>
      <span class="lever"></span>
      All checkins/Last only
    </label>
  </div>
</div>
