var $list = $('#perm<%=@device.id%>').find('ul');
$('.progress').remove()
if($list.children().length===1) {
  $list.append(`
    <% @permissions.each do |permission| %>
      <li class="collection-item row valign-wrapper">
        <div class='valign col s5'>
          <%= permissible_title(permission.permissible) %>
        </div>
        <div class='col s2'>
          <span id='fogIcon<%=permission.id%>' class='fogIcon<%=@device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(permission.permissible)%> can only see fogged data for this device">
            <%= fogged_icon(@device.fogged) if @device.fogged %>
          </span>
          <span id='delayIcon<%=permission.id%>' class='delayIcon<%=@device.id%> tooltipped' data-tooltip="<%=approvals_approvable_name(permission.permissible)%> can only see your data after a delay for this device">
            <%= devices_delay_icon(@device.delayed) if @device.delayed %>
          </span>
          <span id='accessIcon<%=permission.id%>' class='tooltipped' data-tooltip="<%=approvals_approvable_name(permission.permissible)%> can't see any data from this device">
            <%= devices_access_icon  %>
          </span>
        </div>
        <%= render partial: "users/permissions/controls", object: permission, as: 'permissionable' %>
      </li>
    <% end %>
  `);
  COPO.permissions.initSwitches('devices', gon.current_user_id, gon.permissions)
}
