<% if @presenter.device.present? %>
  var page = 'devices'
  var $list = $('#perm<%=@presenter.device.id%>').find('ul');
<% else %>
  var page = ($(".c-approvals.a-apps").length === 1 ? 'apps' : 'friends')
  var $list = $('#perm<%=@presenter.permissible.id%>').find('ul');
<% end %>
$('.progress').remove()
<% if @presenter.permissions.present? %>
  if($list.children().length===1) {
    $list.append(`
      <% @presenter.permissions.each_with_index do |permission, i| %>
        <li class="collection-item row valign-wrapper">
          <div class='valign col s6'>
          <% if @presenter.device.present? %>
            <%= permissions_permissible_title(permission.permissible) %>
          <% else %>
            <%= permissions_device_title(permission.device) %>
          <% end %>
          </div>
          <%= render partial: "users/permissions/controls", object: permission, as: 'permissionable' %>
        </li>
        <% if @presenter.permissions[i+1] && permission.permissible_type != @presenter.permissions[i+1].permissible_type %>
          <div class="permission-divider"></div>
        <% end %>
      <% end %>
    `);
    COPO.permissions.switchesOff();
    COPO.permissions.initSwitches(page, gon.current_user_id, gon.permissions);
    $('.tipped').tooltip({delay: 50});
  }
<% else %>
  $list.html(`<p class='center-align'>Add some apps or friends to start editing your permissions</p>`);
<% end %>

